* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.preFooter {
  background-color: #1c5FA8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5rem 1.5rem;
}

.preFooter .preFooter__h3 {
  color: #FFFFFF;
  margin: 0px 0px 8px;
  font-size: 15px;
}

.preFooter .preFooter__p {
  color: #FFFFFF;
  margin: 0px 0px 4px;
  font-size: 32px;
}

.preFooter .preFooter__p--tel {
  color: #FFFFFF;
  font-size: 18px;
}

.preFooter .preFooter__h5 {
  color: #FFFFFF;
  margin: 0px 0px 4px;
  font-size: 20px;
}

.preFooter .preFooter__button {
  color: #FFFFFF;
  padding: 20.5px 38.5px;
  font-size: 13px;
  background: #1c5FA8;
  border: solid 2px #FFFFFF;
}

.preFooter .preFooter__button:hover {
  background: #FFFFFF;
  border: solid 2px #1c5FA8;
  color: black;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  background-color: white;
  opacity: 1;
  padding: 0;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1.5rem;
  margin-top: 0.5rem;
  width: 25em;
}

.footer .footer-redes .footer-redes img {
  width: 2.5rem;
  opacity: 1;
}
