.footer{
  display: flex;
  background-color: $oscurito;
  padding-top: 2rem;
  padding-bottom: 2rem;
  .footer-redes{
    display: flex;
    align-items: right;
    justify-content: right;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 5px;
    img{
      width: 8rem;
      margin: 10px;
      padding-bottom: 2rem;
      padding-left: 4rem;
      position: fixed;
      bottom: 20px;
      right: 20px;
    }
  }
}