.nav-index {
    background: #FFFFFF;
    padding: 0px 0px;
    height: 10vh;
    width: 100%;

    .nav-index__ul {
        list-style: none;
        font-size: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        .nav-index__li--logo{
         display: flex;
         position: relative;
      }
        
         .nav-index__li {
            font-size: 20px;
            padding: 5px 5px;
            white-space: nowrap;
            display: inline-block;
            width: 10%;
            position: relative;
            font-size: 14px;

            .nav-index__li a {
               color: #000;
               text-decoration: none;
            }
   
            .nav-index__li a:hover {
               text-decoration: none;
               color: #1c5FA8;
               border: 2px solid #f1f1f1;
            }
         }
        
         
         .nav-index__sub {
            position: absolute;
            display: none;
            background-color: #FFFFFF;
    
            .nav-index__li {
             display: block;
    
             .nav-index__ul .nav-index__li:hover .nav-index__sub {
                display: block;
             }
          }
         }
        
         
     }
     
    
 }
 
