@import "variables";
.container-main{
  scroll-snap-type: y mandatory;
.carousel-item{
  button{
    background-color: $blanco;
    text-align: center;
    font-size: 18px;
    padding: .2rem 2rem;
    margin-top: 10px;
    border-radius: 5px;
    border-color:$azul;
    color: $azul;
    &:hover{
      background-color: $azul;
      color: $blanco;
      border-color: $blanco;
    }
  }
}
.presupuesto{
  background-color:$blanco;
  margin: 0px 5px;
  padding: 50px 0px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;

    .presupuesto_container_h2{
      color: $azul;
      margin:0px 0px 4px;
      text-align: center;
    }
    .presupuesto_container_p{
      color:$gris;
      text-align: center;
    }
  .presupuesto_button{
    background-color: $blanco;
    padding: 21px 38px;
    color: $azul;
    text-align: center;
    margin-left: 20px;
    position: relative;
    display: block;
    border-radius: 4px;
    background-color: transparent;
    font-size: 18px;
    overflow: hidden;
    transition: all 500ms ease;
    border: 2px solid $azul;
    z-index: 0;
    cursor: pointer;
      &:hover{
        animation: shadow-pulse 1000ms 1;
        color:$blanco;
        background-color: $hover;
        border-radius: 50%;
      }
  }
}

.container-presentacion{
  text-align: center;
  display: flex;
    .container-presentacion_bienvenidos{
      text-align: left;
      padding-left: 10rem;
    }
      .container-presentacion_bienvenidos_separacion{
        border: 3px solid $hover;
      }
      a{
        text-decoration: none;
      }
    .container-presentacion-bienvenidos__button{
      text-decoration: none;
      background-color: $blanco;
      padding: 21px 38px;
      color: $azul;
      text-align: center;
      margin-left: 20px;
      position: relative;
      display: block;
      border-radius: 4px;
      background-color: transparent;
      font-size: 18px;
      overflow: hidden;
      transition: all 500ms ease;
      border: 2px solid $azul;
      z-index: 0;
      cursor: pointer;
        &:hover{
        animation: shadow-pulse 1000ms 1;
        color:$blanco;
        background-color: $hover;
        border-radius: 50%;
      }
    }
    .container-presentacion-bienvenidos__h5{
      display: flex;
      flex-wrap: wrap;
      padding-top: 2rem;
      padding-left: 1rem;
      align-items: left ;
      justify-content: left;
      .container-presentacion-bienvenidos__img{
        padding-right: 5px;
      }
      .container-presentacion-bienvenidos__h5--h5{
        font-size: 16px;
        padding-top: 5px;
      }
    }
}

.container-productos{
  background-color: #f7f7f7;
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: column;
  padding-left: 15px;
  hr{
    border: 3px solid $hover;
  }
  .container-productos_links{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-decoration: none;
    padding-left: 5px;
    a{
      text-decoration: none;
    }
    img{
      float: left;
    }
    h3{
      padding-left: 20px;
      font-size: 14px;
      color: $oscuro;
      &:hover{
        color: $hover;
      }
    }
  }
}
.container-titulo-productos{
  padding-top: 10px;
  padding-left: 10px;
  text-align: center;
  hr{
    border: 3px solid $hover;
  }
}
.row{
  a{
    text-decoration: none;
    color: $oscuro;
  }
  img{
    border-radius: 2rem;
    transition: ease-in-out;
  &:hover{
    border: solid 5px $hover;
    transition: ease-in-out;
  }
  }

}
}