@import "variables";

.container-imagenes{
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    justify-content: center;
    h2{
        font-size: 20px;
        padding-left: 1rem;
        text-align: center;
    }
    p{
        text-align: center;
        color: $gris;
    }
    img{
        padding-left: 1rem;
        margin: 2rem;
    }
}

.container-h1{
    background-color: $oscuro;
    color: $blanco;
    padding: 2rem 2rem;
    a{
        text-decoration: none;
    }
}

.preFooterDos{
    background-color: $oscuro;
    color: $blanco;
    padding: 1rem 1rem;
    text-align: center;
}